# =========================
# NetBeans / Java
# =========================
/build/
/nbproject/private/
/nbbuild/
/nbdist/
/nbactions.xml

# =========================
# Logs y temporales
# =========================
*.log
*.tmp
*.swp

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# IMPORTANTE
# =========================
# NO ignorar dist porque contiene el WAR
# dist/   ❌ NO PONER

